$white:#fff;
$black:#000;
body{
    background-color:#ffffff;
}
*{
    margin: 0px;
    padding: 0px;
}
// 关于header头部的设置
.header{
    background: $black;
    color: $white;
    text-align: center;
    padding: 10px 0px;
    h1{
        font-size: 16px;
        color:$white;
    }
}